@model ChuTienBinh_7313.Models.TheLoai

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dohoaIndexSach.css" rel="stylesheet" />
<h2>Chi Tiết</h2>

<div>
    <h4>Thể Loại</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenloai)
        </dd>
    </dl>
</div>
<p>
    <button class="huhuhu hohoho">
        <a href="@Url.Action("Edit", new { id = Model.maloai })" style="text-decoration:none; color:white;">Sửa</a>
    </button>
    <div>
        <button class="huhuhu hohoho">
            <a href="@Url.Action("Index")" style="text-decoration:none; color:white;">Quay lại danh sách</a>
        </button>
        @* @Html.ActionLink("Back to List", "Index")*@
    </div>
</p>
